<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="myConnection" connectionString="Data Source=DESKTOP-H4U1I43;Initial Catalog=BankCrystalReport;User ID=sa;Password=open"
   providerName="System.Data.SqlClient" />
  <add name="BankCReport.Properties.Settings.BankCrystalReportConnectionString"
   connectionString="Data Source=DESKTOP-H4U1I43;Initial Catalog=BankCrystalReport;Persist Security Info=True;User ID=sa;Password=open"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>